
.post-card {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: .5rem 5% 0;
    border-bottom: 2px solid var(--border-color);
}

/* .post-wrapper {
    padding: .5rem 0;
} */

.post-card a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.author {
    width: fit-content;
}

.author span {
    font-weight: 400;
    font-size: .8em;
    color: grey;
}

.likes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.likes > p {
    font-size: .9rem;
}

.like-btn {
    border: none;
    background: transparent;
}
.like-btn:hover {
    cursor: pointer;
}

.date-time {
    font-size: .8rem;
}